//-Muestra un mensaje indicando que datos no son validos junto con las reglas que debe cumplir cada dato
//-Esto es para el formulario para datos personales de una persona
mixin error_form1(error = undefined)
    #errores(class="bg-red-300/80 mt-15 mb-30 w-[70rem] m-auto text-red-600")
        h1(class="text-[3rem] text-center font-bold pt-5") Error al enviar el formulario
        div(class="mx-20 px-3 pt-5 pb-2 font-bold text-[18px]")
            ul
                each err_value in error 
                    li(class="mb-3")= err_value  

//-Muestra un mensaje indicando que datos no son validos junto con las reglas que debe cumplir cada dato
//-Esto es para el formulario para datos del usuario o cuenta para la persona
mixin error_form2(error = undefined)
    #errores(class="bg-red-300/80 mt-15 mb-30 w-[70rem] m-auto text-red-600")
        h1(class="text-[3rem] text-center font-bold pt-5") Error al enviar el formulario
        div(class="mx-20 px-3 pt-5 pb-2 font-bold text-[18px]")
            ul
                each err_value in error 
                    li(class="mb-3")= err_value                