extends ../layout.pug 
include ../mixins/post/renderPostView

block metadata
    link(rel="stylesheet", href="../../style/output.css")    
    title Inicio

block content
    +imagesPost(postImages, cant_valorizaciones, prom_valorizacion, imgIndex, post_id, prev, next, comments, current_url, url)