mixin home(query = undefined)
    body(class="bg-gray-200/70")
        .bar_naranja(class="bg-orange-400 px-10 text-2xl h-15 flex justify-between items-center")
            a(href="/") 
                p(class="hover:font-bold cursor-pointer") Home
                
            form(action="/buscar", method="get" id="form_buscar") 
                .buscador(class="ml-56 items-center")
                    if query
                        input(class="bg-white text-[20px] p-2 mr-10 w-xl rounded-md focus:outline-orange-300" type="text" name="buscador" id="buscador" value=`${query}`) 
                    else
                        input(class="bg-white text-[20px] p-2 mr-10 w-xl rounded-md focus:outline-orange-300" type="text" name="buscador" id="buscador") 
                    button#btn_buscador(type="submit" class="bg-white py-2 px-8 text-[20px] rounded-md hover:bg-amber-400") Buscar
            .user(class="flex gap-10")
                if userSession
                    a(href=`/usuarioPerfil/${userSession.id}/posts` class="py-2 hover:font-bold") 
                        p= userSession.user_name
                else
                    a(href="/registrarse/crearPerfil" class="py-2 hover:font-bold") 
                        p Registrarse
                    a(href="/login" class="py-2 hover:font-bold") 
                        p Iniciar Sesion
