mixin error_login()
    #error(class="bg-red-300/80 mt-15 w-[17rem] m-auto text-red-600")
            div(class="py-2 font-bold text-[18px]")
                ul(class="text-center items-center ")
                    li= error