extends ../layout.pug

block metadata
    title Confirmacion del perfil

block content
    body(class="flex flex-col justify-center items-center absolute left-0 right-0 top-70")
        div(class="flex flex-col bg-green-300 text-[25px] font-bold text-green-900 p-10 items-center")
            p=msg ? msg : "Perfil de la persona creada y guardada exitosamente!!!"
            p(class="mt-[10px]") Redirigiendo al Paso 2 en 
                .cuenta_atras 3
            p(class="mt-3") [✓] Paso 1 de 2: Creacion del perfil
            div(class="text-black items-center text-center")
                p Siguiente
                p(class="text-orange-800") ---> Paso 2 de 2: Creacion del usuario <---
            p Si no eres redirigido automáticamente, 
                a(href="/registrarse/crearUsuario" class="hover:text-blue-400 text-black") haz click aqui 

    
    script(src="../script/registrer/profileConfirm_src.js" defer) 
        